<h3>{{ mititulo }}</h3>
<h4>Número de estudiantes: {{ numero_estudiantes }}</h4>

<table border="1">
  <tr>
    <th>Nombre</th>
    <th>Apellido</th>
    <th>Cédula</th>
    <th>Edad</th>
    <th>Tipo</th>
    <th>Total Matrículas ($)</th>
  </tr>
  {% for e in estudiantes %}
  <tr>
    <td>{{ e.nombre }}</td>
    <td>{{ e.apellido }}</td>
    <td>{{ e.cedula }}</td>
    <td>{{ e.edad }}</td>
    <td>{{ e.get_tipo_estudiante_display }}</td>
    <td>${{ e.costo_matriculas }}</td>
  </tr>
  {% endfor %}
</table>
